@use 'base/variables' as V;
@use 'base/mixins' as M;

.formulario{
    width: 100%;
    margin-top: 3rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    label{
        flex: 0 0 10rem;
        text-align: right;
        padding: 0 1.5rem 0 0;
        margin-left: 0.5rem;
    }
    
    input, select{
        border-radius: 1rem;
        flex: 1;
        padding: calc(V.$separacion / 4);
        margin-right: 0.5rem;
    }
    #Doc {
        max-width: 131px;  
    }
}


.campo-boton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.campo-boton input[type="submit"] {
    width: 50%;
    border-radius: 1rem;
}